body {
    background-color: #FAFAD2;
}

#total {
    background-color: white;
    border-radius:30px ;
    border: 1px solid gray;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
    text-align: center;
}

.borders {
    border: 0.5px solid lightgray ;
    margin: 20px auto;
    padding: 10px;
    width: 70%;
   text-align: center;
}

#btn{
    color: white; 
    background-color: #FF0000 ;
    margin: 20px;
    padding: 5px 15px;
    height: 70px;
    font-size: 1em;
    text-transform: capitalize;
}
[type="checkbox"]:checked:before {
    content: ' ';
    position: absolute;
    background-color: purple;
    
}